<style>
	header { display: none!important; }
</style>
<a class="back" href="#/"></a>
<section browse class="ff-container bounceIn" id="detail-view" tabindex="0" ng-cloak>      
	<div class="ff-preview">	
		<img cover class="bookcover drop-shadow" />
		<div class="bookdata">
			<div class="table">
				
				<div class="info">
				<div class="row">					
					<h2>{{ book.Title }}
						<span ng-show="book.Subtitle" class="subtitle">{{ book.Subtitle }}</span>
					</h2>
				</div>
				
				<div class="row">
					{{ book.Author }}
				</div>
				
				<div class="row">
					{{ book.ISBN }} 
				</div>								
				
				<div class="row">
					{{ book.PageCount }} pages <img ng-src="assets/read.png" ng-show="book.HasRead" />					
				</div>	

				<div class="row" ng-show="book.Genre">
					{{ book.Genre }}
				</div>

				<div class="row">
					{{ book.Publisher }} 
				</div>	

				<br />
				
				<div rating></div>

				<div class="row">
					<div class="description" markdown>{{ book.Description }}</div>
				</div>
				
				<div class="row margin" ng-show="book.Notes">
					<div class="notes" ng-bind-html-unsafe="book.Notes"></div>
				</div>
				<br />	
				</div>

				<div class="row">
		        	<div class="edit col toolbox">
		        		<a href="#/edit/{{book.Id}}" class="button green">Edit</a>
		        	</div>
		        </div>
			</div>
		</div>
	</div>
</section>