<section class="ff-container animated bounceIn" id="detail-view">      
	<div class="spacer"></div>
	<div class="clr"></div>
	<div class="ff-preview" ng-cloak>
		<img drop cover source="covers/" class="bookcover drop-shadow" />		
		<div class="bookdata">
		<form novalidate>
			<div class="table">
				<row>
					<div>Title</div>
					<div><input ng-model="book.Title" type="text"/></div>
				</row>
				<row>
					<div>Subtitle</div>
					<div><input ng-model="book.Subtitle" type="text"/></div>
				</row>				
				<row>
					<div>ISBN</div>
					<div><input ng-model="book.ISBN" type="text" digits/></div>
				</row>
				<row>
					<div>Author</div>
					<div><input ng-model="book.Author" type="text"/></div>
				</row>
				<row>
					<div>Publisher</div>
					<div><input ng-model="book.Publisher" type="text"/></div>
				</row>
				<row>
					<div>Genre</div>
					<div><input ng-model="book.Genre" type="text"/></div>
				</row>
				<row>
					<div>Published</div>
					<div><input ng-model="book.DatePublished" type="text" /></div>
				</row>				
				<row>
					<div>Description</div>
					<div><textarea ng-model="book.Description"></textarea></div>
				</row>
				<row>
					<div>Notes</div>
					<div><textarea ng-model="book.Notes" class="notes"></textarea></div>
				</row>						
				<row>
			    	<div>Rating</div>
			    	<div> 
			    	<select ng-model="book.Rating" 
			    			ng-selected="book.Rating" 
			    			ng-options="n for n in [] | range:0:6" />
	                </div>
			    </row>				
				<row>
					<div>Pages</div>
					<div><input ng-model="book.PageCount" type="number" digits /></div>
				</row>
				<row>
		            <div>Finished?</div>
		            <div><input ng-model="book.HasRead" type="checkbox" /></div>
		        </row>		        
		        <row>
		        	<div></div>
		        	<div class="col toolbox">
		        		<a submit class="button green">Update</a>
		        		<a href="#/{{ book.Id }}" class="button darkblue">Close</a>
		        	</div>
		        </row>	
			</div>
		</form>
		</div>
	</div>
</section>