<section class="ff-container animated bounceIn" id="detail-view">      
	<div class="spacer"></div>
	<div class="clr"></div>
	<div class="ff-preview">
		<img drop source="covers/" class="bookcover drop-shadow" />
		<div class="bookdata">
		<form novalidate>
		<table>
			<tbody>
				<tr>
					<td><input ng-model="book.Title" type="text"/></td>
				</tr>
				<tr>
					<td><input ng-model="book.ISBN" type="text" digits/></td>
				</tr>
				<tr>
					<td><input ng-model="book.Author" type="text"/></td>
				</tr>
				<tr>
					<td><input ng-model="book.Publisher" type="text"/></td>
				</tr>
				<tr>
					<td><input ng-model="book.PageCount" type="number" digits /></td>
				</tr>					
				<tr>
					<td><textarea ng-model="book.Description"></textarea></td>
				</tr>
				<tr>
					<td><textarea ng-model="book.Notes"></textarea></td>
				</tr>		
			    <tr>
			    	<td> 
			    	<select ng-model="book.Rating" 
			    			ng-selected="book.Rating" 
			    			ng-options="n for n in [] | range:0:6" />
                    </td>
			    </tr>	
			</tbody>
		</table>
		</form>
		</div>
	</div>
</section>