<section class="ff-container top">      
	<input id="select-type-all" name="radio-set-1" type="radio" class="ff-selector-type-all" checked="checked" />
	<label for="select-type-all" class="ff-label-type-all">All</label>

	<input id="select-type-1" name="radio-set-1" type="radio" class="ff-selector-type-1" />
	<label for="select-type-1" class="ff-label-type-1">Bibles</label>

	<input id="select-type-2" name="radio-set-1" type="radio" class="ff-selector-type-2" />
	<label for="select-type-2" class="ff-label-type-2">Commentaries</label>

	<input id="select-type-3" name="radio-set-1" type="radio" class="ff-selector-type-3" />
	<label for="select-type-3" class="ff-label-type-3">Secular</label>

	<div class="clr"></div>

	<ul class="ff-items">
			<li class="ff-item-type-2" ng-repeat="book in books">
				<a href="#/{{ book.Id }}">
					<span>{{ book.Title }}</span>
					<img ng-src="covers/{{ book.Thumbnail }}" />
				</a>
			</li>
	</ul>
</section>
