#notification .inner {
    position: relative;
    width: 800px;
    margin:  0 auto;
    padding-right: 60px;
}


#notification .close {
    color: #000;
    position: absolute;
    color: #000;
    top: 10px;
    right: 0;
}

#notification a.close:hover {
    text-decoration: underline;
}

#notification {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100%;
    background: #EFEFEF;
    text-align: center;
    border-top: 2px solid #FFF;
    z-index:9999;
    font-family: helvetica,'Georgia',arial,sans-serif;
    background-color: #fafbf1;
    border-bottom: 1px solid #ccc;
    color: #3C3C3C;
    height: 50px;
}

#notification p {
    padding: 10px 0;
    margin:  0;
    font-weight: bold;
}

.error {
    color: #E95045;
}

.success {
    color: #368A3C;
}